.navbar{
  background-color: #AEC6CF;
}

li{
  margin:10px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}
<<<<<<< HEAD

.container{

}

.box{
}

#corgiheader{
  height: 60vh;
}

.carousel{
  width: 100%;
}

.pic{
  height: 80vh;
}

.theme{
  background-color: #cff4fc;
}

#pricing{

=======
a{
  text-decoration: none;
>>>>>>> eb087ee309c4ffa86f7cce2fe0963c328eebc7b3
}
