html, body{
  margin: 0;
  padding: 0;
  overflow-x: unset;
}

*{
  /*border: 1px solid red !important;*/
}

body{
  background-image: url('../images/comb_Corgi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.navbar{
  background-color: #cff4fc;
}

.nav_Items{
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.nav_Link:hover{
  text-shadow: 0px 0px 5px #ffc600;
  color: black;
}

.box{
  /*border: solid red;*/
}

#corgiheader{
  height: 60vh;
}

.carousel{
  width: 100%;
}

.pic{
  height: 80vh;
}

.theme{
  background-color: #cff4fc;

}

footer{
  background-color: #cff4fc;
}

@media print{
  .no_print{display:none;}
}
